<div id="overview" class="fr none">
  <ul>
    <li>
      <dl>
        <dt>站内统计</dt>
        <dd>文章：<span>{{count["Common"]}}</span></dd>
        <dd>专题：<span>{{count["Topic"]}}</span></dd>
        <dd>图书：<span>{{count["Book"]}}</span></dd>
        <dd>杂志：<span>{{count["Magazine"]}}</span></dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>操作系统类型</dt>
        <dd>{{system}}</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>服务器名称</dt>
        <dd>{{server_name}}</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>服务器&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IP</dt>
        <dd>{{ip}}</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>文档存放路径</dt>
        <dd>{{file_dir}}</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>系统运行时间</dt>
        <dd>{{rtime}}</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>数据库大小</dt>
        <dd>{{db_size}}M</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>文档数据大小</dt>
        <dd>{{file_size}}M</dd>
      </dl>
    </li>
  </ul>
</div>
