{% extends "base.tpl" %}
{% block title %}{{doc["name"]}}{% end %}
{% block sub_nav %}{% end %}
{% block login %}{% end %}
{% block bd %}
<link rel="stylesheet" href="{{static_url('css/read.css')}}">
<link rel="stylesheet" href="{{static_url('css/base.min.css')}}">
<link rel="stylesheet" href="{{static_url('css/fancy.min.css')}}">
<script src="{{static_url('js/read.js')}}">

</script>
{% if "css" in doc.keys() %}
	{% for css in doc["css"] %}
		<link rel="stylesheet" href="{{static_url(css)}}">
	{% end %}
{% end %}
<div id="read">
	<div class="wrap crumb">
		<ul class="clear">
			{% for bcnav in breadcrumb_nav %}
			<li class="arrow">></li>
			<li>{{bcnav}}</li>
			{% end %}
		</ul>
	</div>
	<h3 class="wrap">
		{{doc["name"]}}
	</h3>
	<div class="content wrap clear">
		<div class="read_zone fl clear">
			{% raw doc["view"] %}
		</div>
		<div class="fr" id="relates">
			<div class="user_zone">
				<div class="user_info clear">
					<a href="#" class="potrait fl"><img src="{{static_url('/img/potrait.png')}}"></a>
					<a href="#" class="user_name fl">{{doc["uploader"]}}</a>
				</div>
				<form action="" method="">
					<label class="upload_wrap" for="upload_btn">
						上传我的文档
						<input type="button" value="上传我的文档" id="upload_btn">
					</label>
				</form>
			</div>
			<h4 class="related_hd">相关文档推荐</h4>
			<ul class="related_doc">
				<li>
					<dl>
						<dd><img src="{{static_url('img/related_img/case_1.jpg')}}"></dd>
						<dt>人力资源制度</dt>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{{static_url('img/related_img/case_1.jpg')}}"></dd>
						<dt>人力资源制度</dt>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{{static_url('img/related_img/case_1.jpg')}}"></dd>
						<dt>人力资源制度</dt>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{{static_url('img/related_img/case_1.jpg')}}"></dd>
						<dt>人力资源制度</dt>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="read_tips">
		{% if "tips" in doc.keys() %}
		{{doc["tips"]}}
		{% end %}
	</div>
	<div class="nav_bottom">
		<div class="wrap">
			<a href="{{download_url}}" class="download_link">下载</a>
			<a href="#" class="back_to_top">返回顶部</a>
		</div>
	</div>
</div>
{% end %}
